/*!
    Title: Dev Portfolio Template
    Version: 1.2.1
    Last Change: 26/02/2018
    Author: Eric Wanjohi
    Repo: https://github.com/EricWanjohi/eric-portfolio
    Issues: https://github.com/EricWanjohi/eric-portfolio/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and sent to the /css folder which is then loaded on the page.
*/
/*#fa-google-plus a:hover{color: #F44336;}*/
.recent-projects{
	background: #f5f5f5;
  }
#experience{width: 100%}
#send-button:hover{
	background:rgba(33,180,100,1.0);  
	color: #ffffff;
	text-decoration: none;
}
#holder{
	text-align: center;
	image-rendering: auto;
}
#qt{
	background-color: #ffffff;
	color: #000000;
}
#pic{
	float: center;
	background-color: #ffffff;
}
.Quote{
	margin-top: 20px;
	text-align: bottom;
	font-size: 1.5em;
	font-style: bold;
	margin-bottom: 10px;
}
.experience-block{
	border-radius: 10px;
	text-align: center;
	width: 100%;
	padding: 10px;
}
#textarea-text{
	color: #555555;
}

#social-links{
	vertical-align: bottom;
}
.fa fa-facebook{background-color: #3F51B5;}
#facebookIcon:hover{color: #303F9F}
#githubIcon:hover{color: #000000}
#stackOverflowIcon:hover{color: #FFA000}
#linkedIn:hover{color: #3F51B5}
#twitterIcon:hover{color: #03A9F4}
#email-me:hover{color: tomato}
#Framework{margin-top:10px;}
.TodoList-image{background-image: "images/lakeside.jpg";max-height: 350px;max-width: 350px;}
#about-photo{background:url("../images/me1.jpg");background-size: cover;background-repeat: no-repeat;background-position: center;border-radius: 360px;}
.about-text{text-align: center;padding: 10px;width: 100%;margin-left: 10px}
#vp{float:center; size: 14px;}
.ul-skills{padding: 2px;margin: 0 0 20px 0;}
#fsa{align-self: right;}
.project shadow-large{border-radius: 3px;}
.full-body{background-color: #ffffff;width: 100%;padding-bottom: 10px;margin-bottom: 0px}
body{font-family:'Lato', sans-serif;font-size:16px}
body.active{overflow:hidden;z-index:-1}
.no-js #experience-timeline>div{background:#fff;padding:10px;margin-bottom:10px;border:1px solid #dcd9d9;}
.no-js #experience-timeline>div h3{font-size:1.5em;font-weight:300;color:#374054;display:inline-block;margin:0}
.no-js #experience-timeline>div h4{font-size:1.2em;font-weight:300;color:#7e8890;margin:0 0 15px 0}
.no-js #experience-timeline>div p{color:#74808a;font-size:0.9em;margin:0}
.no-js #experience-timeline:before,
.no-js #experience-timeline:after{content:none}
@keyframes dropHeader{0%{transform:translateY(-100%)}100%{transform:translateY(0)}}
header{position:absolute;top:0;left:0;right:0;text-align:center;z-index:10;animation-name:dropHeader;animation-iteration-count:1;animation-timing-function:ease;animation-duration:0.75s}
header ul{display:inline-block;background:#fff;text-align:center;padding:10px;margin:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
header li{display:inline-block}
header a{display:block;color:#3498db;padding:10px}
header a:hover{color:#217dbb;text-decoration:none;background:#eee;border-radius:4px}
header a:focus{color:#3498db;text-decoration:none}
header.active{display:block}
header.sticky{position:fixed;z-index:999}
#menu.active{display:block;}
#mobile-menu-open{display:none;cursor:pointer;position:fixed;right:15px;top:10px;color:#3498db;font-size:1.5em;z-index:20;padding:0 7px;border-radius:4px;background:#fff}
#mobile-menu-close{display:none;text-align:right;width:100%;background:#fff;font-size:1.5em;padding-right:15px;padding-top:10px;cursor:pointer;color:#3498db}
#mobile-menu-close span{font-size:0.5em;text-transform:uppercase}
#mobile-menu-close i{vertical-align:middle;}
footer{padding:10px 0}
.copyright{padding-top:20px;}
.copyright p{margin:0;color:#212121}
.top{text-align:center}
.top span{cursor:pointer;display:block;margin:15px auto 0 auto;width:35px;height:35px;border-radius:50%;border:3px solid #b9bfc4;text-align:center}
.top i{color:#74808a}
.social{text-align:right}
.social ul{margin:5px 0 0 0;padding:0}
.social li{display:inline-block;font-size:1.25em;list-style:none; color: #ffffff;}
.social a{display:block;color:#000000;padding:10px;}
.btn-rounded-blue{background: rgba(33,120,180, 0.8); display:inline-block;color:#ffffff;padding:5px 10px; border:1px solid #ffffff;border-radius:0px;transition:.3s ease all; align-self: center;
margin-bottom: 40px; margin-top: -20px}
.btn-rounded-blue:hover{color:#ffffff;background:rgba(33,180,100,1.0);text-decoration:none}
.btn-rounded-white{display:inline-block;color:#fff; background: rgba(33,120,180,0.2); opacity: 0.8; color: #fff ;padding:20px 25px;border:0px solid #fff;border-radius:25px;transition:.5s ease all}
.btn-rounded-white:hover{box-shadow: 0 0px 0px #ffffff;color:#ffffff ;font-style: italic; background: rgba(33,180,100,1.0); opacity: 0.9; text-decoration: none;}
.shadow{box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)}
.shadow-large{box-shadow:0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.15);max-height: 250px}
.heading{position:relative;display:inline-block;font-size:2em;font-weight:300;margin:10px 0 10px 0;font-style: italic;}
.heading:after{position:absolute;content:'';top:100%;height:1px;width:50px;left:0;right:0;margin:0 auto;background:#3498db}
.background-alt{background:#f2f2f5}
#lead{position:relative;height:100vh;min-height:480px;max-height:1080px;background:url("../images/coding.jpeg");background-size:100%;padding:15px;overflow:inherit}
#lead-content{position:absolute;z-index:10;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center}
#lead-content h1,
#lead-content h2{margin:0}
#lead-content h1{color:#fff;font-weight:700;font-size:4em;text-transform:capitalize;letter-spacing:0.05em;line-height:0.9em}
#lead-content h2{color:#ffffff;font-weight:500;font-size:2.25em;margin-bottom:15px}
#lead-overlay{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0;background:rgba(33,120,180,0.2);z-index:1;opacity: initial;}
#lead-down{position:absolute;left:0;right:0;width:100%;text-align:center;z-index:10;bottom:15px;color:#fff}
#lead-down span{cursor:pointer;display:block;margin:0 auto;width:35px;height:35px;border-radius:50%;border:3px solid #a0cfee;text-align:center}
#lead-down i{animation:pulsate 1.5s ease;animation-iteration-count:5;padding-top:5px}
#to-top i{animation:pulsate 1.5s ease;animation-iteration-count:5;padding-top:5px;}
@keyframes pulsate{0%{transform:scale(1, 1)}50%{transform:scale(1.2, 1.2)}100%{transform:scale(1, 1)}}
#about{ /*background:url("../images/earth.jpg"); background-size: cover; overflow: auto; background-repeat: no-repeat; color: #ffffff;*/ padding:75px 15px;border-bottom:1px solid #dcd9d9;}
#about h2{color:#374054;align-content: center}
#about p{color:#74808a;margin:0;text-align: center; color: #ffffff;padding: 10px}
.project-list{max-width: 100%;max-height: 500px}
#projects{height: 450px}
#projects{padding:50px 15px;border-bottom:1px solid #dcd9d9;text-align:center;width: 100%;margin-right: 0px}
#projects h2{color:#374054;margin-bottom:50px}
#projects h3{margin-top: 20px}
.project{position:relative;max-width:900px;margin:0 auto 30px auto;overflow:hidden;background:#fff;border-radius:4px}
.project-image{float:left; border-radius: 3px;}
.project-info{position:absolute;top:50%;transform:translateY(-50%);margin-left:300px;padding-bottom:15px; padding-top: 15px; padding-block-start: 15px; padding-block-end: 15px}
.project-info h3{font-size:20px;font-weight:300;color:#374054;margin:0 0 0px 0px; padding-top: 20px}
.project-info p{color:#74808a;margin:0 0 0 0;font-size:0.9em;padding:15px 0px 5px 0px;}
.no-image
.project-info{position:relative;margin:10px;padding:15px 5px;transform:none}
#more-projects{display:none}
#experience{padding:10px 15px;text-align:center;border-bottom:1px solid #dcd9d9;margin: 2px}
#experience h2{color:#374054}
#experience h5{color:#374054;padding-left: 20px; margin-top: 5px; margin-bottom: 5px; text-decoration-line: underline}
#experience-timeline{margin:30px auto 0 auto;position:relative;max-width:80%;}
/* #experience-timeline:before{position:absolute;content:'';top:0;bottom:0;left:303px;right:auto;height:100%;width:3px;background:#3498db;z-index:0}
#experience-timeline:after{position:absolute;content:'';width:3px;height:40px;background:#3498db;background:linear-gradient(to bottom, #3498db, rgba(52,152,219,0));top:100%;left:303px} */
.vtimeline-content{margin-left:0px; margin-right: 0px; width:100%; margin-top: 10px; background:#fff;border:1px solid #e6e6e6;padding:15px;border-radius:3px;text-align:left}
.vtimeline-content h3{font-size:1.5em;font-weight:300;color:#374054;display:inline-block;margin:0}
.vtimeline-content h4{font-size:1.2em;font-weight:300;color:#7e8890;margin:0 0 15px 0}
.vtimeline-content p{color:#74808a;font-size:0.9em;margin:10px;}
/* .vtimeline-point{position:relative;display:block;vertical-align:top;margin-bottom:30px; margin-right: 2px} */
.vtimeline-icon{display:none; position:relative;color:#3498db;width:15px;height:15px;background:#f2f2f5;border-radius:50%;float:left;z-index:1;margin-left:280px;margin-bottom: 10px}
.vtimeline-icon i{display:none;font-size:2em;margin-top:0px}    
.vtimeline-date{width:260px; margin-bottom: 10px;margin-top: 10px; text-align:center;position:relative;right:0;top:10px;font-weight:300;color:#374054}
#education{padding:50px 15px 20px 15px;border-bottom:1px solid #dcd9d9;text-align:center}
#education h2{color:#374054;margin-bottom:50px}
.education-block{max-width:1000px; background: #fff ; margin:0 auto 30px auto;padding:15px;border:1px solid #dcd9d9;text-align:left; border-radius: 10px;color: #000000; align-self: center}
.education-block h3{font-weight:500;float:left;margin:0;color:#00BCD4}
.education-block span{color:#74808a;float:right}
.education-block h4{color:#74808a;clear:both;font-weight:500;margin:0 0 15px 0}
.education-block p,
.education-block ul{margin:0;color:#74808a;font-size:0.9em}
.education-block ul{padding:0 0 0 15px}
.education-block ul li{background: #fff}
#skills{padding:30px 15px;text-align:center;margin:5px }
#skills h2{color:#374054;margin-bottom:50px}
#skills ul{display:block;margin:5px auto;padding:0;max-width:800px;}
#skills li{display:inline-block;margin:7px;padding:5px 10px;color:#374054;background:#e4e4ea;list-style:none;cursor:default;font-size:1.2em}
#contact{padding:50px 15px 50px 15px;background:whitesmoke;text-align:center;}
/*  background: url("../images/handsup.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; */
#contact h2{margin:0 16 16 16 15px 0;color:#374054;font-weight:500; font-size: 30px;}
#contact-form{max-width:500px;margin:0 auto}
#contact-form input,#contact-form textarea{display:block;width:100%;padding:10px;border-radius:4px;border:none;margin-bottom:10px;background:#000000; opacity: 0.7; color:#ffffff;transition:.5s ease all}
#contact-form input::-webkit-input-placeholder,#contact-form textarea::-webkit-input-placeholder{color:#ffffff}
#contact-form input:-moz-placeholder,#contact-form textarea:-moz-placeholder{color:#ffffff;opacity:1}
#contact-form input::-moz-placeholder,#contact-form textarea::-moz-placeholder{color:#ffffff;opacity:1}
#contact-form input:-ms-input-placeholder,#contact-form textarea:-ms-input-placeholder{color:#ffffff}
#contact-form input:focus,#contact-form textarea:focus{outline:none;background:#000000;opacity: 0.5; color:#ffffff;}
#contact-form textarea{height:200px;resize:none; color: #ffffff}
#contact-form button{display:block;width:100%;background:rgba(0,180,120,0.7); border-radius:4px;padding:5px 10px;border:none;color:#ffffff; font-weight:700;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);transition:.5s ease all}
#contact-form button:hover{box-shadow:0 10px 15px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23)}
.optional-section{padding:50px 15px;text-align:center;border-top:1px solid #dcd9d9}
.optional-section h2{color:#374054}
.optional-section-block{max-width:700px;margin:0 auto 30px auto;padding:15px;border:1px solid #dcd9d9;background:#fff;text-align:left}
.optional-section-block h3{font-weight:500;margin:0 0 15px 0;color:#374054}
.optional-section-block h4{color:#74808a;clear:both;font-weight:500;margin:0 0 15px 0}
.optional-section-block p,.optional-section-block ul{margin:0 0 15px 0;color:#74808a;font-size:0.9em}
.optional-section-block ul{padding:0 0 0 15px}
@media only screen and (max-width: 750px){
	.vtimeline-date{width:auto;text-align:left;position:relative;margin-bottom:15px;display:block;}
	#experience-timeline{margin:0px;position:relative;max-width:80%;}
	#experience-timeline:before{display: none}
	#experience-timeline:after{display: none}
	#experience{width: 100%;padding:10px;}
	/* .vtimeline-point{position:relative;display:inline-block;margin-bottom:30px; margin-right: 2px}
	.vtimeline-icon{position:relative;color:#fff;margin-left:0px}
	.vtimeline-icon i{display:block;font-size:2em;margin-left:0px} */
	}
 @media only screen and (max-width: 1380px){ 
    #lead{position:relative;height:100vh;min-height:480px;max-height:1080px;background-color: #000000; color: #fff ;background-size:100%;padding:0px;overflow:inherit;opacity: 1}
    #lead-content{position:relative;z-index:10;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center; vertical-align: center}
    #lead-content h1{margin:10; padding: 0px;align-self: center; text-align: center;font-style: italic;font-family: fantasy}
    #lead-content h2{margin:10; padding: 10px}
    #lead-down i{animation:pulsate 1.5s ease;animation-iteration-count:5;padding-top:5px}
    .background-alt{min-height: 500px}
    .project-list{max-width: 1380px;background:#f2f2f5}
    #projects{max-width: 1380px;}
    #project-s{max-width: 200px;padding: 0px;margin: 5px} 
    #project-c{display: none; max-width: 200px;padding: 0px;margin: 5px;text-align: center;max-height: 200px;font-size: 0.6em}
    .header{text-align: center;font-size: 0.7em}
    .content{text-align: center;font-size: 0.5em}
    #vp{max-width: 25px} 
    #holder{align-self: center;max-width: 1380px}
    .row{align-self: center;max-width: 1380px}
    .social{align-self: center; max-width: 1380px}
    .social ul{align-self: center; max-width: 1380px}
    .about.row{max-width: 1380px; padding: 0px;margin: 0px}
	#experience-timeline{width: 100%;margin:0px;position:relative;max-width:1380px; padding-left: 250px;padding-right: 250px}
	#experience-timeline:before{display: none}
	#experience-timeline:after{display: none}
	.vtimeline-date{ margin-left: 20px; margin-right: 20px}
	.vtimeline-content{ align-self: center; width: 100%}
	.vtimeline-block{width: 100%; align-content: center;margin-right: 0px}
	.experience-block{margin-left: 0px;margin-right: 0px;align-self: center; color: #fff;text-align: left;}
	#about-content{margin:0px;position:relative;max-width:1380px; min-height: 750px}
    #social-links{text-align: center;width: 100%;margin: 15px}
    #about-photo{ margin: 10px;}
    .project-image{display:block; margin: 0px;padding: 0px}
    .container{max-width: 1320px;margin: 0px;padding: 10px}
	#skills{background: #eee; color: #212121}
	.skill-class{margin-bottom: 20px}
    .ul-skills li{color: #fff;background: #fff; font-family: 'Lato', sans-serif}
    #skills-li{color: #fff;background: #fff}
    #about{width: 1380px}
    #about-content{width: 1380px}
    #about-contents{min-height: 290px;padding: 0px;vertical-align: center;text-align: center;margin: 0px;align-self: center}
    #about-text{align-self: center;margin-top: 20px;min-height: 294px;vertical-align: auto}
	.full-body{max-width: 1380px}
	.shadow{background: #212121; color: #fff}
    .shadow li :hover{background: rgba(33,160,90,1.0);color: #fff }
    .shadow li a{color: #fff}
	.btn-rounded-white{display:inline-block;color:#fff; background: #217dbb; opacity: 1; min-width: 200px; color: #fff ;padding:20px 25px;border:0px solid #fff;border-radius:35px;transition:.15ms ease all}
	.btn-rounded-white:hover{box-shadow: 0 0px 0px #ffffff;color:#ffffff ;font-style: italic; background: rgba(33,180,100,1.0); opacity: 0.9; text-decoration: none;}
	#lead-down{display: none}
	.education-date{display: none}
	.heading-title{text-decoration-line: underline; position:relative;display:inline-block;font-size:1.5em;font-weight:300;margin:10px 0 10px 0;font-style: italic;font-family: fantasy}
}
  @media only screen and (max-width: 1000px){ 
	#holder{align-self: center;width: 100%}
	.social{align-self: center; width: 100%}
	#experience-timeline{margin:0px;position:relative;max-width:95%;}
	#experience-timeline:before{display: none}
	#experience-timeline:after{display: none}
	.vtimeline-block{width: 100%; align-content: center}
	.experience-block.vtimeline-content{align-content: center}
	.shadow-large{height: 250px;}
	#experience{width: 100%}
	.education-date{display: none}
	.experience-block{width: 100%}
	#experience-timeline{margin:0px;position:relative;width:100%;padding-left: 50px;padding-right: 50px}
  } 
@media only screen and (max-width: 750px){
	header{position:fixed;display:none;z-index:999;animation:none;bottom:0;height:100%}
	/* #mobile-menu-open,#mobile-menu-close{display:block}
	#menu{height:100%;overflow-y:auto;box-shadow:none;border-radius:0;width:100%;}
	#menu li{display:block;margin-bottom:10px} */
	#lead-content h1{font-size:2em}
	#lead-content h2{font-size:1.3em}
	#lead-content a{padding:10px 20px}
	#lead-down{display:none}
	footer{text-align:center}
	.social{align-self:center}
	.education-date{display: none}
	#experience{width: 100%;padding: 10px}
	.experience-block{padding: 15px; margin-left: 0px; margin: 0px;max-width: 100%;color: #fff}
	#experience-timeline{margin:0px;position:relative;width:100%;padding-left: 50px;padding-right: 50px}
	#experience-timeline:before{display: none}
	#experience-timeline:after{display: none}
	/* .vtimeline-point{position:relative;display:block;margin-bottom:30px; margin-right: 2px} */
	.vtimeline-icon i{display:block;font-size:2em;margin-left:0px; margin-bottom: 10px; align-self: left; margin-top: 25px}
	.vtimeline-date{width:260px;text-align:center;position:relative;left:100;top:10px;font-weight:300;color:#374054}
	.row{width: 100%;margin-left: 0px;margin-right: 0px}
	.about.row{width: 100%; padding: 0px;margin: 0px}
	.row{width: 100%; padding: 10px;}
	#vp{align-self: center; margin-top: 5px;margin-left: 0px;margin-bottom: 10px;margin-right: 10px;width: 60%}
	.full-body{max-width: 100%;max-height: 100%}
	.container{max-width: 100%; padding: 5px;margin-left: 0px;margin-right: 0px}
	.shadow{background: #212121; color: #fff}
    .shadow li :hover{background: rgba(33,160,90,1.0);color: #fff }
	.shadow li a{color: #fff}
	.btn-rounded-white{display:inline-block;color:#fff; background: #217dbb; opacity: 1; min-width: 200px; color: #fff ;padding:20px 25px;border:0px solid #fff;border-radius:25px;transition:.5s ease all}
	.btn-rounded-white:hover{box-shadow: 0 0px 0px #ffffff;color:#ffffff ;font-style: italic; background: rgba(33,180,100,1.0); opacity: 0.9; text-decoration: none;}
	}
@media only screen and (max-width: 640px){
	.education-date{display: none}
	#lead-content h1{font-size:1.50em}
	#lead-content h2{font-size:1em}
	#lead-content a{font-size:0.9em;padding:5px 10px}
	.shadow-large{width: 100%;margin: 5px;padding-right: 0px}
	#experience{width: 100%;padding:10px;}
	.experience-block{padding: 10px; margin-left: 0px; margin: 0px}
	#experience-timeline{padding:10px;position:relative;max-width:640px;margin: 0px}
	#experience-timeline:before{display: none}
	#experience-timeline:after{display: none}
	/* .vtimeline-point{position:relative;display:block;margin-bottom:30px; margin-right: 2px} */
	.vtimeline-icon i{display:block;font-size:2em;margin-left:0px; margin-bottom: 10px; align-self: left}
	.about.row{width: 100%; padding: 0px;margin: 0px}
	#vp{align-self: center; margin-top: 2px;margin-left: 0px;margin-bottom: 2px;margin-right: 0px;width: 100%}
	/* .container{max-width: 640px; padding: 10px;margin-left: -20px;margin-right: 0px} */
	#projects{max-width: 640x;margin: 0px;padding: 10px}
	#project-s{min-height: 250px;padding: 5px;}
	#project-c{margin-left: 239px;padding: 5px;min-height: 250px;align-self: right}
	.background-alt{min-height: 240px;margin: 10px;padding: 5px}
	.header{margin-top: 5px;margin-bottom: 5px;align-self: center;width: 80%}
	.content{margin: 0px;padding-left:10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px; width: 90%;align-self: center }
	.row{align-self: center;margin: 5px;padding: 5px;}
	.btn-rounded-white{display:inline-block;color:#fff; background: #217dbb; opacity: 1; min-width: 200px; color: #fff ;padding:20px 25px;border:0px solid #fff;border-radius:25px;transition:.5s ease all}
	.btn-rounded-white:hover{box-shadow: 0 0px 0px #ffffff;color:#ffffff ;font-style: italic; background: rgba(33,180,100,1.0); opacity: 0.9; text-decoration: none;}
}
@media only screen and (max-width: 500px){
	#lead-content h1{font-size:1.50em}
	#lead-content h2{font-size:1em}
	#lead-content a{font-size:0.9em;padding:5px 10px}
	.shadow-large{width: 100%;margin: 15px}
	#experience{width: 100%;padding:10px;}
	.experience-block{padding: 10px; margin-left: 0px; margin: 0px}
	#experience-timeline{padding:10px;position:relative;max-width:400px;margin: 0px}
	#experience-timeline:before{display: none}
	#experience-timeline:after{display: none}
	/* .vtimeline-point{position:relative;display:block;margin-bottom:30px; margin-right: 2px} */
	.vtimeline-icon i{display:block;font-size:2em;margin-left:0px; margin-bottom: 10px; align-self: left}
	.about.row{width: 500px; padding: 0px;margin: 0px}
	.container{ padding: 0px;margin-left: 0px;margin-right: 10px;}
	.row{padding-right: 10px;padding-left: 0px;padding-top: 10px}
	.about-text p{padding: 10px;position: relative;text-align: center;align-self: center;min-width: 100%}
	#about-photo{width: 150px;height: 150px;margin-left: -15px}
	.education-date{display: none}
	#holder{align-self: center;margin: 10px;width: 100%}
	#holder q{width: 150px;font-size: 0.9em;align-self: center;text-align: center}
	#social-links{text-align: center;max-width: 500px;margin: 0px}
	.btn-rounded-white{display:inline-block;color:#fff; background: #217dbb; opacity: 1; min-width: 200px; color: #fff ;padding:20px 25px;border:0px solid #fff;border-radius:25px;transition:.5s ease all}
	.btn-rounded-white:hover{box-shadow: 0 0px 0px #ffffff;color:#ffffff ;font-style: italic; background: rgba(33,180,100,1.0); opacity: 0.9; text-decoration: none;}
}
#lines{
	color: #AC1216
}

<!---->
